@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #829488;
  --color-secondary: #f5f3ec;
  --color-tertiary: #ba936f;

  --color-text-primary: #829488;
  --color-text-description: #4d4d4d;
  --color-text-tertiary: #343434;

  --font-playfair: "Playfair Display", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  h1 {
    @apply text-[64px] font-bold leading-tight font-playfair;
  }

  h2 {
    @apply text-[40px] font-bold leading-snug;
  }

  h3 {
    @apply text-[32px] font-medium leading-snug;
  }

  h4 {
    @apply text-[20px] font-medium;
  }

  h5 {
    @apply text-[14px] font-medium;
  }

  h6 {
    @apply text-[12px] font-medium;
  }

  p {
    @apply text-[16px] leading-[22px] font-montserrat;
  }
}

.small-marker li::marker {
  font-size: 0.7em; /* Adjust size as needed */
}
